[|SECTION|]
;language=|LANGUAGE|
;callerid=|CALLERID|
;autodial=|AUTODIAL|
;jitter_fixed=|JITTERFIXED|
;jitter_min=|JITTERMIN|
;jitter_max=|JITTERMAX|
;jitter_target=|JITTERTARGET|
txgain=|TXGAIN|
rxgain=|RXGAIN|
comfortnoise=|COMFORTNOISE|
echocancel=|ECHOCANCEL|
silence=|SILENCE|
context=|CONTEXT|
context_direct=|CONTEXT|-direct
period=20
|ALLOW|

