<%-
	luci.dispatcher.build_url("admin/status/bershowresults")
-%>

<script language="javascript">

function bertStart() {
	var val, idx, loc;

   	with ( document.forms[0] ) {
      		idx = berTime.selectedIndex;
      		val = berTime.options[idx].value;
   	}

	loc = "<%=luci.dispatcher.build_url("admin/network/xdsl_berstart/")%>" +val;

	return loc;
}

function bertShow() {
   var loc = 'bershowresults';
   var code = 'location="' + loc + '"';
   eval(code);
}

function bertClose() {
   window.close();
}

</script>

<body bgcolor="#F8F8FF">
<form>
<b>ADSL BER Test</b><br>
<p align="justify">The ADSL Bit Error Rate (BER) test determines the quality of the ADSL connection.
The test is done by transferring idle cells containing a known pattern and
comparing the received data with this known pattern to check for any errors.&nbsp;<br><br>
To start a new test, select the test duration and click &quot;Start&quot;.<br>
To see the results of the most recent test, click &quot;Results&quot;.<br>
<br>
<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="120">Duration (sec):  </td>
    <td><select name='berTime' size=1>
      <option value=1>1
      <option value=5>5 
      <option value=10>10 
      <option value=20 selected>20 
      <option value=40>40
      <option value=60>60
      <option value=120>120 
      <option value=180>180 
      <option value=240>240 
      <option value=300>300 
      <option value=360>360 
    </select></td>
  </tr>
</table>
<p align="center"><input type='button' onClick="location.href=bertStart()" value='Start'><input type='button' onClick='bertShow()' value='Results'><input type='button' onClick='bertClose()' value='Close'>
</form>
</body>
