<%-
	local ntm = require "luci.model.xdsl".init()

	if luci.http.formvalue("status") == "1" then

		local rv = {}

		rv = ntm:get_xdslstats()

		luci.http.prepare_content("application/json")
		luci.http.write_json(rv)

		return
	end
-%>

<%+header%>

<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">//<![CDATA[

	function berTest() {
	   var opts;

	   opts = 'menubar=no,resizable=no,scrollbars=yes,titlebar=yes,toolbar=no,width=420,height=300';

	   window.open('<%=luci.dispatcher.build_url("admin/status/berstart")%>', 'xDSLBerTest', opts);
	}

	var iwxhr = new XHR();

	var update_status = function() {
		iwxhr.get('<%=REQUEST_URI%>', { status: 1 },
			function(x, xdsl)
			{
				if (xdsl)
				{
					/* Enable BER Test button only if DSL connection is up */
					if (xdsl.mode == "" )
						document.getElementById('bertbutton').disabled="disabled";
					else
						document.getElementById('bertbutton').disabled="";

					document.getElementById('dslmode').innerHTML = xdsl.mode;
					document.getElementById('dsltraffic').innerHTML = xdsl.traffic;
					document.getElementById('dslstatus').innerHTML = xdsl.status;
					document.getElementById('dsllps').innerHTML = xdsl.lps;
					document.getElementById('trldn').innerHTML = xdsl.trldn;
					document.getElementById('trlup').innerHTML = xdsl.trlup;
					document.getElementById('snrdn').innerHTML = xdsl.snrdn;
					document.getElementById('snrup').innerHTML = xdsl.snrup;
					document.getElementById('atndn').innerHTML = xdsl.atndn;
					document.getElementById('atnup').innerHTML = xdsl.atnup;
					document.getElementById('opwdn').innerHTML = xdsl.opwdn;
					document.getElementById('opwup').innerHTML = xdsl.opwup;
					document.getElementById('artdn').innerHTML = xdsl.artdn;
					document.getElementById('artup').innerHTML = xdsl.artup;
					document.getElementById('rtedn').innerHTML = xdsl.rtedn;
					document.getElementById('rteup').innerHTML = xdsl.rteup;
					document.getElementById('msgdn').innerHTML = xdsl.msgdn;
					document.getElementById('msgup').innerHTML = xdsl.msgup;
					document.getElementById('Bdn').innerHTML = xdsl.Bdn;
					document.getElementById('Bup').innerHTML = xdsl.Bup;
					document.getElementById('Mdn').innerHTML = xdsl.Mdn;
					document.getElementById('Mup').innerHTML = xdsl.Mup;
					document.getElementById('Tdn').innerHTML = xdsl.Tdn;
					document.getElementById('Tup').innerHTML = xdsl.Tup;
					document.getElementById('Rdn').innerHTML = xdsl.Rdn;
					document.getElementById('Rup').innerHTML = xdsl.Rup;
					document.getElementById('Sdn').innerHTML = xdsl.Sdn;
					document.getElementById('Sup').innerHTML = xdsl.Sup;
					document.getElementById('Ldn').innerHTML = xdsl.Ldn;
					document.getElementById('Lup').innerHTML = xdsl.Lup;
					document.getElementById('Ddn').innerHTML = xdsl.Ddn;
					document.getElementById('Dup').innerHTML = xdsl.Dup;
					document.getElementById('dlydn').innerHTML = xdsl.dlydn;
					document.getElementById('dlyup').innerHTML = xdsl.dlyup;
					document.getElementById('inpdn').innerHTML = xdsl.inpdn;
					document.getElementById('inpup').innerHTML = xdsl.inpup;
					document.getElementById('frmdn').innerHTML = xdsl.frmdn;
					document.getElementById('frmup').innerHTML = xdsl.frmup;
					document.getElementById('sprdn').innerHTML = xdsl.sprdn;
					document.getElementById('sprup').innerHTML = xdsl.sprup;
					document.getElementById('rswdn').innerHTML = xdsl.rswdn;
					document.getElementById('rswup').innerHTML = xdsl.rswup;
					document.getElementById('rscdn').innerHTML = xdsl.rscdn;
					document.getElementById('rscup').innerHTML = xdsl.rscup;
					document.getElementById('rsudn').innerHTML = xdsl.rsudn;
					document.getElementById('rsuup').innerHTML = xdsl.rsuup;
					document.getElementById('hecdn').innerHTML = xdsl.hecdn;
					document.getElementById('hecup').innerHTML = xdsl.hecup;
					document.getElementById('ocddn').innerHTML = xdsl.ocddn;
					document.getElementById('ocdup').innerHTML = xdsl.ocdup;
					document.getElementById('lcddn').innerHTML = xdsl.lcddn;
					document.getElementById('lcdup').innerHTML = xdsl.lcdup;
					document.getElementById('tcldn').innerHTML = xdsl.tcldn;
					document.getElementById('tclup').innerHTML = xdsl.tclup;
					document.getElementById('dcldn').innerHTML = xdsl.dcldn;
					document.getElementById('dclup').innerHTML = xdsl.dclup;
					document.getElementById('berdn').innerHTML = xdsl.berdn;
					document.getElementById('berup').innerHTML = xdsl.berup;
					document.getElementById('tesdn').innerHTML = xdsl.tesdn;
					document.getElementById('tesup').innerHTML = xdsl.tesup;
					document.getElementById('tssdn').innerHTML = xdsl.tssdn;
					document.getElementById('tssup').innerHTML = xdsl.tssup;
					document.getElementById('tuadn').innerHTML = xdsl.tuadn;
					document.getElementById('tuaup').innerHTML = xdsl.tuaup;
				}
			}
		)
		window.setTimeout(update_status, 5000);
	};

	update_status();

//]]></script>

<div class="cbi-map" id="cbi-network">
	<h2><a id="content" name="content"><%:xDSL Statistics%></a></h2>
	<div align="right" class="cbi-map-descr"><%:%>
		<input id="bertbutton" type='button' style="width:100px" onClick="berTest()" title="<%:Start xDSL BER Test%>" value="BER Test">
		<input type="button" style="width:100px" onclick="if (confirm('<%:Really reset the xDSL statistics? The reset cannot be undone.%>')) location.href='<%=luci.dispatcher.build_url("admin/network/xdsl_reset")%>'" title="<%:Reset xDSL Statistics%>" value="<%:Reset%>" />
	</div>

	<fieldset class="cbi-section" id="cbi-table-table">
		<legend>Basic</legend>
		<div class="cbi-section-node">
			<table class="cbi-section-table">
				<tr class="cbi-section-table-titles">
					<th class="cbi-section-table-cell"><%:Mode%></th>
					<th class="cbi-section-table-cell"><%:Traffic Type%></th>
					<th class="cbi-section-table-cell"><%:Status%></th>
					<th class="cbi-section-table-cell"><%:Link Power State%></th>
				</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td id="dslmode" class="cbi-value-field"><%:%></td>
							<td id="dsltraffic" class="cbi-value-field"><%:%></td>
							<td id="dslstatus" class="cbi-value-field"><%:%></td>
							<td id="dsllps" class="cbi-value-field"><%:%></td>
						</tr>
			</table>
		</div>
	</fieldset>
	<br />

	<fieldset class="cbi-section" id="cbi-table-table">
		<legend>Advanced</legend>

		<div class="cbi-section-node">
			<table class="cbi-section-table">
				<tr class="cbi-section-table-titles">
					<th class="cbi-section-table-cell"><%:%></th>
					<th class="cbi-section-table-cell"><%:Downstream%></th>
					<th class="cbi-section-table-cell"><%:Upstream%></th>

				</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="Line Coding (Trellis)"%></td>
							<td id="trldn" class="cbi-value-field"></td>
							<td id="trlup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="SNR Margin (dB)"%></td>
							<td id="snrdn" class="cbi-value-field"></td>
							<td id="snrup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="Attenuation (dB)"%></td>
							<td id="atndn" class="cbi-value-field"></td>
							<td id="atnup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="Output Power (dBm)"%></td>
							<td id="opwdn" class="cbi-value-field"></td>
							<td id="opwup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="Attainable Rate (Kbps)"%></td>
							<td id="artdn" class="cbi-value-field"></td>
							<td id="artup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="Rate (Kbps)"%></td>
							<td id="rtedn" class="cbi-value-field"></td>
							<td id="rteup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="MSGc (# of bytes in overhead channel message)"%></td>
							<td id="msgdn" class="cbi-value-field"></td>
							<td id="msgup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="B (# of bytes in Mux Data Frame)"%></td>
							<td id="Bdn" class="cbi-value-field"></td>
							<td id="Bup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="M (# of Mux Data Frames in FEC Data Frame)"%></td>
							<td id="Mdn" class="cbi-value-field"></td>
							<td id="Mup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="T (Mux Data Frames over sync bytes)"%></td>
							<td id="Tdn" class="cbi-value-field"></td>
							<td id="Tup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="R (# of check bytes in FEC Data Frame)"%></td>
							<td id="Rdn" class="cbi-value-field"></td>
							<td id="Rup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="S (ratio of FEC over PMD Data Frame length)"%></td>
							<td id="Sdn" class="cbi-value-field"></td>
							<td id="Sup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="L (# of bits in PMD Data Frame)"%></td>
							<td id="Ldn" class="cbi-value-field"></td>
							<td id="Lup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="D (interleaver depth)"%></td>
							<td id="Ddn" class="cbi-value-field"></td>
							<td id="Dup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="Delay (msec)"%></td>
							<td id="dlydn" class="cbi-value-field"></td>
							<td id="dlyup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="INP (DMT symbol)"%></td>
							<td id="inpdn" class="cbi-value-field"></td>
							<td id="inpup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="Super Frames"%></td>
							<td id="frmdn" class="cbi-value-field"></td>
							<td id="frmup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="Super Frame Errors"%></td>
							<td id="sprdn" class="cbi-value-field"></td>
							<td id="sprup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="RS Words"%></td>
							<td id="rswdn" class="cbi-value-field"></td>
							<td id="rswup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="RS Correctable Errors"%></td>
							<td id="rscdn" class="cbi-value-field"></td>
							<td id="rscup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="RS Uncorrectable Errors"%></td>
							<td id="rsudn" class="cbi-value-field"></td>
							<td id="rsuup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="HEC Errors"%></td>
							<td id="hecdn" class="cbi-value-field"></td>
							<td id="hecup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="OCD Errors"%></td>
							<td id="ocddn" class="cbi-value-field"></td>
							<td id="ocdup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="LCD Errors"%></td>
							<td id="lcddn" class="cbi-value-field"></td>
							<td id="lcdup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="Total Cells"%></td>
							<td id="tcldn" class="cbi-value-field"></td>
							<td id="tclup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="Data Cells"%></td>
							<td id="dcldn" class="cbi-value-field"></td>
							<td id="dclup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="Bit Errors"%></td>
							<td id="berdn" class="cbi-value-field"></td>
							<td id="berup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="Total ES"%></td>
							<td id="tesdn" class="cbi-value-field"></td>
							<td id="tesup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="Total SES"%></td>
							<td id="tssdn" class="cbi-value-field"></td>
							<td id="tssup" class="cbi-value-field"></td>
						</tr>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
							<td class="cbi-value-field"><%="Total UAS"%></td>
							<td id="tuadn" class="cbi-value-field"></td>
							<td id="tuaup" class="cbi-value-field"></td>
						</tr>

			</table>
		</div>
	</fieldset>
	<br />
</div>

<%+footer%>
