<%-
	local ntm = require "luci.model.xdsl".init()

	if luci.http.formvalue("status") == "1" then

		local rv = {}

		rv.tm = {
			inoct	= ntm:tminoct(),
			outoct	= ntm:tmoutoct(),
			inpac	= ntm:tminpac(),
			outpac	= ntm:tmoutpac(),
			inoam	= ntm:tminoam(),
			outoam	= ntm:tmoutoam(),
			inasm	= ntm:tminasm(),
			outasm	= ntm:tmoutasm(),
			inperr	= ntm:tminpackerr(),
			incerr	= ntm:tmincellerr()
		}

		luci.http.prepare_content("application/json")
		luci.http.write_json(rv)

		return
	end
-%>

<%+header%>

<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">//<![CDATA[

	var iwxhr = new XHR();

	var update_status = function() {
		iwxhr.get('<%=REQUEST_URI%>', { status: 1 },
			function(x, info)
			{
				var xtm = info.tm;

				if (xtm)
				{
					document.getElementById('tminoct').innerHTML = xtm.inoct;
					document.getElementById('tmoutoct').innerHTML = xtm.outoct;
					document.getElementById('tminpac').innerHTML = xtm.inpac;
					document.getElementById('tmoutpac').innerHTML = xtm.outpac;
					document.getElementById('tminoam').innerHTML = xtm.inoam;
					document.getElementById('tmoutoam').innerHTML = xtm.outoam;
					document.getElementById('tminasm').innerHTML = xtm.inasm;
					document.getElementById('tmoutasm').innerHTML = xtm.outasm;
					document.getElementById('tminperr').innerHTML = xtm.inperr;
					document.getElementById('tmincerr').innerHTML = xtm.incerr;
				}
			}
		)
		window.setTimeout(update_status, 5000);
	};

	update_status();

//]]></script>

<div class="cbi-map" id="cbi-network">
	<h2><a id="content" name="content"><%:xTM Statistics%></a></h2>
	<div align="right" class="cbi-map-descr"><%:%>
		<input type="button" style="width:100px" onclick="if (confirm('<%:Really reset the xTM statistics? The reset cannot be undone.%>')) location.href='<%=luci.dispatcher.build_url("admin/network/xtm_reset")%>'" title="<%:Reset xTM Statistics%>" value="<%:Reset%>" />
	</div>

	<fieldset class="cbi-section" id="cbi-table-table">
		<legend>Interface Statistics</legend>
		<div class="cbi-section-node">
			<table class="cbi-section-table">
				<tr class="cbi-section-table-titles">
					<th class="cbi-section-table-cell"><%:In Octets%></th>
					<th class="cbi-section-table-cell"><%:Out Octets%></th>
					<th class="cbi-section-table-cell"><%:In Packets%></th>
					<th class="cbi-section-table-cell"><%:Out Packets%></th>
					<th class="cbi-section-table-cell"><%:In OAM Cells%></th>
					<th class="cbi-section-table-cell"><%:Out OAM Cells%></th>
					<th class="cbi-section-table-cell"><%:In ASM Cells%></th>
					<th class="cbi-section-table-cell"><%:Out ASM Cells%></th>
					<th class="cbi-section-table-cell"><%:In Packet Errors%></th>
					<th class="cbi-section-table-cell"><%:In Cell Errors%></th>
				</tr>

				<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
					<td id="tminoct" class="cbi-value-field"></td>
					<td id="tmoutoct" class="cbi-value-field"></td>
					<td id="tminpac" class="cbi-value-field"></td>
					<td id="tmoutpac" class="cbi-value-field"></td>
					<td id="tminoam" class="cbi-value-field"></td>
					<td id="tmoutoam" class="cbi-value-field"></td>
					<td id="tminasm" class="cbi-value-field"></td>
					<td id="tmoutasm" class="cbi-value-field"></td>
					<td id="tminperr" class="cbi-value-field"></td>
					<td id="tmincerr" class="cbi-value-field"></td>
				</tr>
			</table>
		</div>
	</fieldset>
	<br />
</div>

<%+footer%>
