
[peer-|NAME|]
type          = peer
defaultuser   = |DEFAULTUSER|
fromuser      = |FROMUSER|
secret        = |SECRET|
host          = |HOST|
fromdomain    = |FROMDOMAIN|
insecure      = port,invite
qualify       = 2000
canreinvite=no
insecure=invite
qualify=yes
disallow=all
allow=alaw
allow=ulaw
nat=yes
dfmf=rfc2833
context = incoming_calls
|PORT|
|OUTBOUNDPROXY|
