<%-
	require "luci.quest"
	local router = luci.quest.router_static_sysinfo()

	function hextodec(hex)
		local newhex = luci.sys.exec("echo $((%d & 0x000000FF))" %hex)
		return luci.sys.exec("printf '%d'" %newhex)
	end

	function hextoip(hex)
		return luci.sys.exec("printf '%d'" %("0x"..hex:sub(3, 4))).."."..
			luci.sys.exec("printf '%d'" %("0x"..hex:sub(5, 6))).."."..
			luci.sys.exec("printf '%d'" %("0x"..hex:sub(7, 8))).."."..
			luci.sys.exec("printf '%d'" %("0x"..hex:sub(9, 10)))
	end
-%>

<%+header%>

<meta http-equiv="refresh" content="20">

<div class="cbi-map" id="cbi-network">
	<h2><a id="content" name="content"><%:IGMP Snooping%></a></h2>

	<fieldset class="cbi-section" id="cbi-table-table">
		<legend>IGMP Snooping Table</legend>
		<div class="cbi-section-node">
			<table class="cbi-section-table">
				<tr class="cbi-section-table-titles">
					<th class="cbi-section-table-cell"><%:Bridge%></th>
					<th class="cbi-section-table-cell"><%:Snooping Device%></th>
					<th class="cbi-section-table-cell"><%:Source Device%></th>
					<th class="cbi-section-table-cell"><%:#Tags%></th>
					<th class="cbi-section-table-cell"><%:LAN-TCI%></th>
					<th class="cbi-section-table-cell"><%:WAN-TCI%></th>
					<th class="cbi-section-table-cell"><%:Group%></th>
					<th class="cbi-section-table-cell"><%:Mode%></th>
					<th class="cbi-section-table-cell"><%:DNAT Group%></th>
					<th class="cbi-section-table-cell"><%:Source%></th>
					<th class="cbi-section-table-cell"><%:Reporter%></th>
					<th class="cbi-section-table-cell"><%:Timeout%></th>
					<th class="cbi-section-table-cell"><%:Index%></th>
				</tr>

				<% if router.brcmversion == "4.16L.04" then %>
					<% for line in luci.util.execi("cat /proc/net/igmp_snooping | grep 'br-' | grep -v 'snooping' | grep -v 'reporter'") do %>
						<% local bridge, device, srcdev, tags, lantci, wantci, group, mode, source, timeout, reporter, index
						= line:match("(%S+)%s+(%S+)%s+(%S+)%s+(%S+)%s+(%S+)%s+(%S+)%s+(%S+)%s+(%S+)%s+(%S+)%s+(%S+)%s+(%S+)%s+(%S+)") %>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
								<td class="cbi-value-field"><%=bridge%></td>
								<td class="cbi-value-field"><%=device%></td>
								<td class="cbi-value-field"><%=srcdev%></td>
								<td class="cbi-value-field"><%=tags%></td>
								<td class="cbi-value-field"><%=hextodec(lantci)%></td>
								<td class="cbi-value-field"><%=hextodec(wantci)%></td>
								<td class="cbi-value-field"><%=group%></td>
								<td class="cbi-value-field"><%=mode%></td>
								<td class="cbi-value-field"><%=dnat%></td>
								<td class="cbi-value-field"><%=source%></td>
								<td class="cbi-value-field"><%=reporter%></td>
								<td class="cbi-value-field"><%=timeout%></td>
								<td class="cbi-value-field"><%=hextodec(index)%></td>
						</tr>
					<%end%>
				<%else%>
					<% for line in luci.util.execi("cat /proc/net/igmp_snooping | grep 'br-' | grep -v 'snooping' | grep -v 'reporter'") do %>
						<% local bridge, device, srcdev, tags, lantci, wantci, group, mode, dnat, source, reporter, timeout, index
						= line:match("(%S+)%s+(%S+)%s+(%S+)%s+(%S+)%s+(%S+)%s+(%S+)%s+(%S+)%s+(%S+)%s+(%S+)%s+(%S+)%s+(%S+)%s+(%S+)%s+(%S+)") %>

						<tr class="cbi-section-table-row cbi-rowstyle-<%=(style and 1 or 2)%>">
								<td class="cbi-value-field"><%=bridge%></td>
								<td class="cbi-value-field"><%=device%></td>
								<td class="cbi-value-field"><%=srcdev%></td>
								<td class="cbi-value-field"><%=tags%></td>
								<td class="cbi-value-field"><%=hextodec(lantci)%></td>
								<td class="cbi-value-field"><%=hextodec(wantci)%></td>
								<td class="cbi-value-field"><%=hextoip(group)%></td>
								<td class="cbi-value-field"><%=mode%></td>
								<td class="cbi-value-field"><%=hextoip(dnat)%></td>
								<td class="cbi-value-field"><%=hextoip(source)%></td>
								<td class="cbi-value-field"><%=hextoip(reporter)%></td>
								<td class="cbi-value-field"><%=timeout%></td>
								<td class="cbi-value-field"><%=hextodec(index)%></td>
						</tr>
					<%end%>
				<%end%>
			</table>
		</div>
	</fieldset>
	<br />
</div>

<%+footer%>
